$black: #000000;
$white: #FFFFFF;

$magenta: #D0112B;
$olive: #939B50;
$orange: #EBA359;
$purple: #5F5270;

$dk_teal: #004551;

$gray_10: #e9f4f5;
$gray_20: #858b91;
$gray_90: #27292b;

$themes: (
  (magenta, $magenta, $white),
  (olive, $olive, $white),
  (orange, $orange, $black),
  (purple, $purple, $white),
  (dk_teal,$dk_teal, $white),
  (gray_10, $gray_10)
);

@each $name, $color, $txt in $themes {
  .bg-#{$name} {
    background: $color;
    color: $txt;
  }
}

@each $name, $color, $txt in $themes {
  .txt-#{$name} {
    background: $color;
  }
}
