.contact_main {
  @include padding;
}

.contact_wrapper {
  @include paragraph;

  a {
    @include clearfix;
    display: flex;
    color: $black;
    margin-bottom: 1em;
    text-decoration: none;

    &:hover {
      color: $magenta;
    }
  }

  .icon {
    margin-right: 16px;
    padding-top: 0.15em;
  }
}

.contact_address {

}

.contact_content div.wpforms-container-full .wpforms-form {
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  select,
  textarea {
    @include garamond;
    @include paragraph;
    max-width: none;
  }

  input[type=submit],
  button[type=submit],
  .wpforms-page-button {
    @include garamond;
    @include paragraph;
    background: $magenta;
    border: 0;
    color: $white;
    transition: background $speed;

    &:hover,
    &:active {
      background: darken($magenta, 10);
    }

  }
}

// WP Forms Styling
.page_wrapper {
  div.wpforms-container-full .wpforms-form .wpforms-field-label,
  div.wpforms-container-full .wpforms-form .wpforms-field-label-inline {
    @include paragraph;
    cursor: pointer;
    display: inline-block;
  }

  div.wpforms-container-full .wpforms-form .wpforms-list-inline ul li {
    margin-right: 0 !important;
    margin-left: 28px !important;

    @media #{$max_sm} {
      &:first-child {
        margin-left: 0 !important;
      }
    }
  }

  div.wpforms-container-full .wpforms-form .wpforms-field-checkbox {
    input[type="checkbox"] {
        @include visually_hide;

        + label {
          padding-left: 27px;
          position: relative;

          &:before,
          &:after {
            width: 23px;
            height: 23px;

            position: absolute;
            top: 3px;
            left: 0;

            content: "";
            border-radius: 50%;
            display: block;
          }

          &:before {
            border: 1px solid $gray_20;
          }

          &:after {
            background: $gray_20;
            transform: scale(0);
            transition: transform $speed;
          }
        }

        &:checked + label:after {
          transform: scale(0.7);
        }
    }

    &.wpforms-list-inline {
      @media #{$min_sm} {
        display: flex;
      }
    }
  }
}
