.footer {
  color: $white;
  overflow: hidden;
  position: relative;
  z-index: 0;

  a {
    color: $white;
    text-decoration: none;

    @media #{$min_sm} {
      &,
      &:hover {
        .icon {
          color: $white;
        }
      }
    }

    &:hover {
      color: $magenta;
    }
  }

  .row {
    position: relative;
    z-index: 1;
  }

  @media #{$max_lg} {
    .row {
      display: flex;
      flex-direction: column;
    }
  }
}

.footer_amp {
  width: 146px;

  position: absolute;
  top: -10px;
  left: -10px;

  display: block;
  fill: $magenta;
  opacity: 0.25;
  z-index: 0;

  @media #{$min_sm} {
    width: 569px;

    top: -47px;
    left: -12px;
  }
}

.footer_contact {
  @include sans;
  font-size: 16px;

  @media #{$min_lg} {
    padding: 78px 0 50px;
  }
}

.footer_logo_link {
  display: flex;
  justify-content: flex-end;

  @media #{$min_sm} {
    display: block;
  }
}

.footer_logo {
  height: 52px;
  width: 137px;
  display: block;
  fill: $white;
  margin-bottom: 30px;

  @media #{$min_sm} {
    height: 49px;
    width: 154px;
  }
}

.footer_contact_block {
  position: relative;
  margin-bottom: 1em;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  @media #{$min_sm} {
    padding-left: 36px;
  }

  &.footer_address,
  &.footer_phone {
    @media #{$max_sm} {
      display: none;
    }
  }
}

.social_header {
  @include paragraph;

  @media #{$min_lg} {
    margin-top: 155px;
    margin-bottom: 21px;
  }
}

.social_link {
  display: inline-block;
  font-size: 35px;
  margin-right: 7px;
}
.social_link_label {
  @include visually_hide;
}

.footer_mobile {
  width: 100%;

  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  background: $gray_90;
  border-top: 1px solid $white;
  z-index: 5;

  a {
    color: $white;
    display: block;
    flex-grow: 1;
    font-size: 24px;
    padding: 10px 0 6px;
    text-decoration: none;
    text-align: center;

    + a {
      border-left: 1px solid $white;
    }
  }

  @media #{$min_sm} {
    display: none;
  }
}
