.footer {
  color: $white;
  position: relative;
  z-index: 0;
}

.footer_amp {
  width: 569px;

  position: absolute;
  top: -47px;
  left: -12px;

  fill: $magenta;
  opacity: 0.25;
}

.footer_logo {
  &,
  #target,
  #amp,
  #type {
    fill: $white;
  }
}
