.footer {
  color: $white;
  overflow: hidden;
  position: relative;
  z-index: 0;

  a {
    color: $white;
    text-decoration: none;

    @media #{$min_sm} {
      &,
      &:hover {
        .icon {
          color: $white;
        }
      }
    }

    &:hover {
      color: $magenta;
    }
  }
}

.footer_amp {
  width: 146px;

  position: absolute;
  top: -10px;
  left: -10px;

  display: block;
  fill: $magenta;
  opacity: 0.25;

  @media #{$min_sm} {
    width: 569px;

    top: -47px;
    left: -12px;
  }
}

.footer_contact {
  @include sans;
  font-size: 16px;
  padding: 78px 0 50px;
}

.footer_logo {
  width: 154px;
  display: block;
  fill: $white;
  margin-bottom: 30px;
}

.footer_contact_block {
  position: relative;
  margin-bottom: 1em;
  padding-left: 36px;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.social_header {
  @include paragraph;
  margin-top: 155px;
  margin-bottom: 21px;
}

.social_link {
  display: inline-block;
  font-size: 35px;
  margin-right: 7px;
}
.social_link_label {
  @include visually_hide;
}

.footer_mobile {
  width: 100%;

  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  background: $gray_90;
  z-index: 5;

  a {
    color: $white;
    display: block;
    flex-grow: 1;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
  }
}
