.header {
  @include clearfix;
  background: $gray_10;
  overflow: hidden;
  padding: 0 $gutter;
}

.header_pagetitle {
  width: 215px;
  height: 68px;
  float: left;
  margin: $gutter 0;

  a {
    display: inline-block;
  }
}

.header_pagetitle_text {
  @include visually_hide;
}

.header_pagetitle_logo {
  width: 215px;
  height: 68px;
  display: block;
  #target,
  #amp {
    fill: $magenta;
  }
}
