.header {
  @include clearfix;
  background: $gray_10;
  overflow: hidden;
  padding: 0 $gutter;

  &.header_home {
    background: $white;
  }
}

.header_pagetitle {
  width: 104px;
  height: 40px;
  float: left;
  margin-top: 23px;

  a {
    display: block;
  }
}

.header_pagetitle_text {
  @include visually_hide;
}

.header_pagetitle_logo {
  width: 104px;
  height: 40px;
  display: block;
  .target,
  .amp {
    fill: $magenta;
  }
}


@media #{$min_sm} {
  .header_pagetitle,
  .header_pagetitle_logo {
    width: 215px;
    height: 68px;
  }
}
