.main_home {
  padding-top: 20px;
}

.homepage_feature {

}

.homepage_feature_figure {
  position: relative;
  max-height: 650px;
  overflow: hidden;
  z-index: 0;

  &:after {
    width: 100%;
    height: 80%;

    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    display: block;
    background: linear-gradient(0deg, $black, rgba($black,0));
  }
}

.homepage_feature_picture {
  &,
  img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
  }
}

.homepage_feature_content {
  position: relative;
  background: $black;
  color: $white;
}

.homepage_feature_content_inner {
  position: relative;
  padding: 43px 0;
}

.homepage_feature_heading {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  padding-bottom: 40px;
  text-align: center;
  transform: translateY(-100%);

  &:after {
    width: 100%;
    height: 3px;

    position: absolute;
    left: 50%;
    bottom: 0;

    content: "";
    background: $blue;
    border-radius: 1.5px;
    display: block;
    max-width: 580px;
    transform: translateX(-50%);
  }
}

.homepage_feature_intro_top {
  display: block;
  font-size: 47px;
  font-style: italic;
  line-height: (65 / 67) * 1em;
}

.homepage_feature_intro_bottom {
  display: block;
  font-size: 67px;
  color: $magenta;
  font-style: italic;
  line-height: (80 / 95) * 1em;
  text-transform: uppercase;
}

@media #{$min_sm} {
  .homepage_feature_intro_top {
    font-size: 67px;
  }

  .homepage_feature_intro_bottom {
    font-size: 95px;
  }
}

.homepage_feature_intro {
  line-height: (33.6 / 24) * 1em;
}
