.main_home {
  padding-top: 20px;
}

.home_intro {
  border-top: 1px solid $black;
  color: $magenta;
  padding: 40px 0px 100px;
  text-align: center;

  p {
    @include h4;
  }
}

.home_feature_wrapper {
  position: relative;
}

.home_feature {
  @include clearfix;
  position: relative;
  z-index: 0;
}

.home_feature_slide {
  width: 33.3333%;
  position: relative;

  display: block;
  float: left;
  max-height: 790px;
  overflow: hidden;

  &:after {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    content: "";
    display: block;
    background: $black;
    opacity: 0;
    transition: opacity $speed;
    z-index: 1;
  }

  &:hover:after {
    opacity: 0.53;
  }

  @each $name, $color, $txt in $themes {
    &.theme_#{$name} {
      &:after {
        background: $color;
      }
    }
  }
}

.home_feature_image {
  position: relative;
  z-index: 0;

  img {
    height: auto;
    width: 100%;
    display: block;
    transition: filter $speed;
  }

  .home_feature_slide:hover & {
    img {
      filter: grayscale(100%) brightness(70%) contrast(150%);
    }
  }
}

.home_feature_info {
  width: 100%;
  position: absolute;

  top: 50%;
  left: 0;

  color: $white;
  font-style: italic;
  opacity: 0;
  padding: 0 20px;
  text-align: center;
  transform: translateY(calc(-50% - 20px));
  transition: transform $speed, opacity $speed;
  z-index: 2;

  .home_feature_slide:hover & {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.home_feature_title {
  @include h3;
}

.home_feature_subtitle {
  @include paragraph;
}

.home_feature_button_container {
  width: 100%;

  position: absolute;
  bottom: 50px;
  left: 0;

  text-align: center;
  z-index: 2;
}

.home_feature_button {
  @include paragraph;

  background: $magenta;
  color: $white;
  display: inline-block;
  opacity: 0;
  padding: 22px 50px;
  transition: transform $speed, opacity $speed, background $speed;

  &:hover {
    background: darken($magenta, 10);
  }

  .home_feature_slide:hover & {
    opacity: 1;
    transform: translateY(-20px);
  }
}

.home_feature_all {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  text-align: center;
  z-index: 5;
}

.home_feature_all_button {
  @include h3;
  position: relative;
  top: 62px;

  background: $white;
  display: inline-block;
  color: $black;
  padding: 22px 30px;
  text-decoration: none;
  transition: background $speed, color $speed;

  .icon {
    font-size: 26px;
    color: $magenta;
    transition: color $speed;
  }

  &:hover {
    background: $magenta;
    color: $white;

    .icon {
      color: $white;
    }
  }
}
