@font-face {
	font-family: "petel_glyphs";
	src: url('../fonts/petel_glyphs.eot');
	src: url('../fonts/petel_glyphs.eot?#iefix') format('eot'),
		url('../fonts/petel_glyphs.woff2') format('woff2'),
		url('../fonts/petel_glyphs.woff') format('woff'),
		url('../fonts/petel_glyphs.ttf') format('truetype'),
		url('../fonts/petel_glyphs.svg#petel_glyphs') format('svg');
}

.icon:before {
	font-family: "petel_glyphs";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-double_chevron_right:before {
	content: "\E001";
}

.icon-facebook:before {
	content: "\E002";
}

.icon-filter:before {
	content: "\E003";
}

.icon-instagram:before {
	content: "\E004";
}

.icon-linkedin:before {
	content: "\E005";
}

.icon-map:before {
	content: "\E006";
}

.icon-phone:before {
	content: "\E007";
}

.icon-pinterest:before {
	content: "\E008";
}

.icon-social_email:before {
	content: "\E009";
}

.icon-social_facebook:before {
	content: "\E00A";
}

.icon-social_googleplus:before {
	content: "\E00B";
}

.icon-social_linkedin:before {
	content: "\E00C";
}

.icon-social_pinterest:before {
	content: "\E00D";
}

.icon-social_twitter:before {
	content: "\E00E";
}

.icon-twitter:before {
	content: "\E00F";
}
