@font-face {
	font-family: "petel_glyphs";
	src: url('../fonts/petel_glyphs.eot');
	src: url('../fonts/petel_glyphs.eot?#iefix') format('eot'),
		url('../fonts/petel_glyphs.woff2') format('woff2'),
		url('../fonts/petel_glyphs.woff') format('woff'),
		url('../fonts/petel_glyphs.ttf') format('truetype'),
		url('../fonts/petel_glyphs.svg#petel_glyphs') format('svg');
}

.icon:before {
	font-family: "petel_glyphs";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-facebook_circle:before {
	content: "\E001";
}

.icon-map:before {
	content: "\E002";
}

.icon-phone:before {
	content: "\E003";
}

.icon-social_email:before {
	content: "\E004";
}

.icon-social_facebook:before {
	content: "\E005";
}

.icon-social_googleplus:before {
	content: "\E006";
}

.icon-social_linkedin:before {
	content: "\E007";
}

.icon-social_pinterest:before {
	content: "\E008";
}

.icon-social_twitter:before {
	content: "\E009";
}

.icon-twitter_circle:before {
	content: "\E00A";
}
