.mc_text {
  @include margin;
}

.mc_text_content {
  @include paragraph;

  p {
    margin-bottom: 1em;
  }
}


%mc_text_col {
  column-gap: $gutter;
}

@for $i from 2 to 12 {
  .mc_text_col-#{$i} {
    @extend %mc_text_col;
  }
}

@media screen and (min-width: 650px) {
  %responsive_col {
    columns: 2;
  }
  @for $i from 2 to 12 {
    .mc_text_col-#{$i} {
      @extend %responsive_col;
    }
  }
}

@media screen and (min-width: $breakpoint) {
  @for $i from 2 to 12 {
    .mc_text_col-#{$i} {
      columns: $i;
    }
  }
}
