.main_nav {
  @include sans;
  position: relative;
  float: right;

  @media #{$min_sm} {
    left: 36px;
  }

  .menu-item {
    display: inline-block;
    text-transform: uppercase;

    a {
      position: relative;

      color: $gray_20;
      display: inline-block;
      font-size: 12px;
      padding: 30px 5px 10px;
      text-decoration: none;

      @media #{$min_sm} {
        font-size: 18px;
        padding: 19px + $gutter 36px;
      }
    }

    @media #{$max_sm} {
      &:first-child a {
        //padding-left: 0;
      }
      &:last-child a {
        //padding-right: 0;
      }
    }

    &.current-menu-item {
      a:after {
        content: " ";
        height: 6px;
        width: 100%;

        position: absolute;
        bottom: -7px;
        left: 0;

        background: $dk_teal;
        display: block;

        @media #{$min_sm} {
          height: 12px;
          bottom: -1px;
        }
      }
    }
  }
}
