.main_nav {
  @include sans;
  position: relative;
  left: 36px;

  float: right;

  .menu-item {
    display: inline-block;
    text-transform: uppercase;

    a {
      position: relative;

      color: $gray_20;
      display: inline-block;
      font-size: 18px;
      padding: 19px + $gutter 36px;
      text-decoration: none;
    }

    &.current-menu-item {
      a:after {
        content: " ";
        height: 12px;
        width: 100%;

        position: absolute;
        bottom: -1px;
        left: 0;

        background: $dk_teal;
        display: block;
      }
    }
  }
}
