// Project Listing
////////////////////////////////////////////////////////////////////////////////
$grad_dark: 25;

.projects {}

.projects_header {
  padding: 45px 0;
  > .row {
    display: flex;
    justify-content: center;
  }
}

.projects_filters {}

.projects_filter_heading {
  background: $magenta;
  color: $white;
  font-size: 21px;
  font-style: italic;
  padding: 6px 19px;

  .icon-filter {
    position: relative;
    top: -2px;

    font-size: 9px;
    margin-right: 8px;
  }
}

.projects_filters_list {
  display: flex;
}

.projects_filters_item {
  position: relative;
  font-size: 21px;

  &.current:after {
    height: 2px;
    width: 75px;

    position: absolute;
    bottom: 0;
    left: 50%;

    content: "";
    display: block;
    background: $magenta;
    transform: translateX(-50%);
  }
}

.projects_filters_link {
  color: $black;
  display: inline-block;
  padding: 6px 19px;
  text-decoration: none;

  &:hover {
    color: $magenta;
  }
}

.projects_listing {
  @include clearfix;
  width: 100%;
  margin: auto;
  max-width: 2000px;
  overflow: hidden;
}

.projects_project {
  width: 50%;
  position: relative;
  float: left;
}

.projects_link {
  position: relative;
  color: $white;
  display: block;

  &:after {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    content: "";
    display: block;
    background: linear-gradient(180deg, $magenta, darken($magenta,$grad_dark));
    opacity: 0;
    transition: opacity $speed * 2;
    z-index: 1;
  }

  &:hover {
    &:after {
      opacity: 0.53;
    }

    .projects_image {
      filter: grayscale(100%);
    }

    .projects_project:nth-child(2n) &,
    .projects_project:nth-child(2n+1) & {
     .projects_info  {
       opacity: 1;
       transform: translate(0,-50%);
      }
    }

  }
}

@each $name, $color, $txt in $themes {
  .projects_project.projects_theme_#{$name} {
    .projects_link:after {
      background: linear-gradient(180deg, $color, darken($color,$grad_dark));
    }
  }
}

.projects_figure,
.projects_image {
  height: auto;
  width: 100%;

  position: relative;

  display: block;
  z-index: 0;
  transition: filter $speed * 2;
}

.projects_info {
  max-width: 100%;

  position: absolute;
  top: 50%;

  opacity: 0;
  padding: 0 3%;
  transition: transform $speed * 2, opacity $speed * 2;
  z-index: 2;

  .projects_project:nth-child(2n+1) & {
    left: 0;
    text-align: left;
    transform: translate(-3%,-50%);
  }
  .projects_project:nth-child(2n) & {
    right: 0;
    text-align: right;
    transform: translate(3%,-50%);
  }
}

.projects_title {
  font-size: 48px;
  font-style: italic;
}

.projects_subtitle {
  font-size: 24px;
  font-style: italic;
}

// Project Detail
////////////////////////////////////////////////////////////////////////////////
.project {}

.project_info {
  padding: 22px 0;
}

@media #{$min_lg} {
  .project_info {
    padding: 110px 0;
  }

  .project_header {
    padding-right: $gutter;
    text-align: right;
  }
}

.project_title {
  @include h3;
  font-style: italic;
  line-height: (57.6 / 47) * 1em;
}

.project_subtitle {
  @include h4;
}

.project_info_content {
  padding-top: 35px;

  p {
    font-size: 16px;
    line-height: (44.8 / 32) * 1em;
  }

  @media #{$min_lg} {
    position: relative;
    padding-top: 0;
    padding-left: $gutter;

    p {
      font-size: 32px;
    }

    &:before {
      height: 100%;
      width: 1px;

      position: absolute;
      top: 0;
      left: 0;

      content: "";
      background: $white;
    }
  }
}

@each $name, $color, $txt in $themes {
  .bg-#{$name} {
    .project_info_content:before {
      @if $txt == $white {
        @extend %bq_lt;
      } @else {
        @extend %bq_dk;
      }
    }
  }
}

.project_images {
  padding: 16px 0 41px;

  @media #{$max_sm} {
    .row {
      padding: 0;
    }
  }
}

.project_figure {
  margin-bottom: 16px;
}

@media #{$min_sm} {
  .project_images {
    padding: 87px 0 110px;
  }

  .project_figure {
    margin-bottom: 87px;
  }
}

.project_image {
  height: auto;
  width: 100%;

  display: block;
}
