* {
  box-sizing: border-box;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

ul,ol {
  list-style: none;
}

address {
  font-style: normal;
}

a {
  transition: color 0.25s;
}

.petel_images {
  display: none;
}

// GRID
$cols: 12;
$gutter: 20px;
$max-width: 1180px;

.row {
  @include clearfix;
  width: 100%;
  margin: auto;
  max-width: $max-width + $gutter;
}


@media screen and (min-width: 900px) {
  %col {
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
    float: left;
  }

  @for $i from 1 through $cols {
    .col-#{$i} {
      @extend %col;
      width: percentage($i / $cols);
    }
  }

  @for $i from 1 through $cols {
    .push-#{$i} {
      margin-left: percentage($i / $cols);
    }
  }
}

#target,#amp,#type  {
  fill: inherit;
}
