.staff_list {
  padding: 100px 0;

  [class*="push-"] {
    clear: both;
  }
}

.staff_list_section_title {
  @include h3;
  margin-bottom: (110 / 47) * 1em;
  text-align: center;
}

.staff_card {
  position: relative;

  @each $name, $color, $txt in $themes {
    &.theme_#{$name} {
      .staff_card_info {
        background: rgba($color,0.65);
        color: $txt;
      }
    }
  }

}

.staff_card_portrait {
  width: 100%;
  position: relative;

  z-index: 0;
}

.staff_card_portrait_image {
  height: auto;
  width: 100%;

  display: block;
}

.staff_card_info {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  transition: opacity $speed;

  .staff_card:hover & {
    opacity: 1;
  }
}

.staff_card_info_inner {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: $gutter;
}

.staff_card_name {
  font-style: italic;
}

.staff_card_title {
  @include paragraph;
}


// Staff Detail Page
////////////////////////////////////////////////////////////////////////////////
.staff_detail {
  padding: 130px 0;
}

.staff_detail_main_name {
  @include h3;
}

.staff_detail_main {
  .staff_card_title {
    font-weight: 700;
    margin: 1em 0;
  }
}

.staff_detail_content {
  border-bottom: 1px solid $gray_20;
  padding-bottom: 24px;
  p {
    line-height: (33.6 / 24) * 1em;
    margin-bottom: 1em;
  }
}

.staff_detail_next_prev {
  @include clearfix;
  padding-top: 37px;
}

.staff_detail_prev,
.staff_detail_next {
  @include paragraph;

  color: $gray_20;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: $magenta;
  }
}

.staff_detail_prev {
  float: left;
}

.staff_detail_next {
  float: right;
}

.staff_card_connect {
  @include paragraph;
  padding-top: 40px;
}

.staff_card_connect_link {
  position: relative;
  top: 5px;
  
  color: $gray_20;
  text-decoration: none;

  &:hover {
    color: $magenta;
  }
}
