html {
  font-size: 62.5%;
}

body {
  @include garamond;
  width: 100%;
  overflow: hidden;
  
  background: $gray_90;
  font-size: 1em;
}

.main {
  position: relative;
  background: $white;
  z-index: 1;
}
