.services {
  padding-top: 100px;
}

.services_title {}

.services_intro {
  @include paragraph;
}

.services_heading {
  @include heading_line;

  font-size: 30px;
  text-align: center;
}

.services_item {}
