* {
  box-sizing: border-box;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

ul,ol {
  list-style: none;
}

.petel_images {
  display: none;
}

// GRID
$cols: 12;
$gutter: 20px;
$max-width: 1180px;

.row {
  @include clearfix;
  width: 100%;
  margin: auto;
  max-width: $max-width + $gutter;
}

%col {
  float: left;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}

@for $i from 1 through $cols {
  .col_#{$i} {
    @extend %col;
    width: percentage($i / $cols);
  }
}

.test {
  @include garamond;

  div {
    color: #fff;
    &:first-child {
      background: #333;
    }
    &:last-child {
      background: #888;
    }
  }
}
